*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* contenitore lista */
.language-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
}

/* singola card */
.language-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px 24px;
}



/* titolo */
.language-card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #111;
}

/* descrizione */
.language-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
